
@{
    ViewBag.Title = "Nuovapagina";
}

<h2>Riepilogo</h2>

<div class="card" style="width: 18rem; text-align:center">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Html.ActionLink("Verbali per trasgressore", "Trasgressori", "Home", null, new { @class = "btn btn-secondary" })</li>
        <li class="list-group-item"><button>Punti decurtati per trasgressore</button></li>
        <li class="list-group-item"><button>Verbali che superano i 10 punti decurtati</button></li>
        <li class="list-group-item"><button>Violazioni con importo maggiore di 400</button></li>
    </ul>
</div>

